<footer class="footer clear-header--left">
  <div class="footer__note">
    <a
      href="https://github.com/drnkwati"
      target="_blank">
      <img
        alt="GitHub followers"
        src="https://img.shields.io/github/followers/drnkwati" />
    </a>
    &ensp;
    <a
      href="{{ '/feed.rss' | relative_url }}"
      target="_blank">
      <span class="material-symbols-outlined"> rss_feed </span>
    </a>
  </div>
  <div class="footer__note">
    <span id="copyright">&copy;</span>
  </div>
  <p></p>
</footer>

<script>
  (function () {
    document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()));
  })();
</script>
