<footer class="footer clear-header--left">
  <div class="footer__note">
    <a
      href="https://github.com/drnkwati"
      target="_blank">
      <img
        alt="GitHub followers"
        src="https://img.shields.io/github/followers/drnkwati" />
    </a>
    &ensp;
    <a
      href="{{ '/feed.xml' | relative_url }}"
      target="_blank">
      <span class="material-symbols-outlined"> rss_feed </span>
    </a>
  </div>
  <div class="footer__note">
    <span id="copyright">&copy;</span>
  </div>
  <p></p>
</footer>

<script>
  (function () {
    document.addEventListener("DOMContentLoaded", function(event) {
      document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()));

      // chips
      var chipsChoice = Array.from(document.querySelectorAll('.chips__choice .chip'));
      chipsChoice.forEach(function(node) {
        node.on("click", function () {
          chipsChoice.forEach(function(node) {
            node.removeClass("chip--active");
          });
          node.addClass("chip--active");
        });
      });

      var chipsFilter = Array.from(document.querySelectorAll('.chips__filter .chip'));
      chipsFilter.forEach(function(node) {
        node.on("click", function () {
          chipsFilter.forEach(function(node) {
            node.removeClass("chip--active");
          });
          node.addClass("chip--active");
        });
      });
    });
    // DOMContentLoaded
  })();
</script>
