<!-- <link
  rel="stylesheet"
  type="text/css"
  href="https://dnkwati.github.io/assets/css/page.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="https://unpkg.com/open-props" /> -->
<nav class="navbar">
  <ul>
    <li class="navbar__item"><a href="{{ '/' | relative_url }}">About</a></li>
    <li class="navbar__item"><a href="{{ '/explore.html' | relative_url }}">Explore</a></li>
    <li class="navbar__item">
      <a href="{{ '/contacts.html' | relative_url }}">
        <span>&#9993;</span>
        <!-- <span>&#64;</span> -->
      </a>
    </li>
    <!-- <li class="navbar__item"><a href="https://github.com/kkninjae/book/archive/master.zip">Download</a></li> -->
  </ul>
</nav>
