<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100"
  rel="stylesheet" />
<nav class="navbar">
  <ul>
    <li class="navbar__item"><a href="{{ '/about' | relative_url }}">About</a></li>
    <li class="navbar__item"><a href="{{ '/explore' | relative_url }}">Explore</a></li>
    <li class="navbar__item">
      <a href="{{ '/contacts' | relative_url }}">
        <span class="material-symbols-outlined font14"> contact_support </span>
        <!-- <span>&#9993;</span> -->
        <!-- <span>&#64;</span> -->
      </a>
    </li>
    <!-- <span class="material-symbols-outlined font14">home</span> -->
    <!-- <li class="navbar__item">
      <a href="{{ '/explore/downloads' | relative_url }}">
        <span class="material-symbols-outlined font14"> downloading </span>
      </a>
    </li> -->
  </ul>
</nav>
