.font12 {
  font-size: 12px !important;
}
.font14 {
  font-size: 0.875rem !important;
}
.font48 {
  font-size: 3rem !important;
}
.font-normal {
  font-style: normal !important;
}

.fg-gray {
  color: $button-link-text-color !important;
}

// align
.text-center {
  text-align: center;
}
