// @import "https://unpkg.com/open-props/animations.min.css";
// @import "https://unpkg.com/open-props/easings.min.css";

.btn {
  /*  
    using `reverse` means we dont have to put 
    opacity: 0 or scale(.8) anywhere  
  */
  animation: var(--animation-scale-down) reverse, var(--animation-fade-out) reverse;
  animation-timing-function: var(--ease-squish-5);
  animation-duration: 1s;
}

.btn {
  padding: 0.5rem 1rem;
  background: #e37;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 4px;
}

// chips: https://www.w3schools.com/howto/howto_css_contact_chips.asp
// .chip {
//   display: inline-block;
//   padding: 0 25px;
//   height: 50px;
//   font-size: 16px;
//   line-height: 50px;
//   border-radius: 25px;
//   background-color: #f1f1f1;
// }

// .chip img {
//   float: left;
//   margin: 0 10px 0 -25px;
//   height: 50px;
//   width: 50px;
//   border-radius: 50%;
// }
//
// https://codepen.io/DivyaPatel/pen/JjjGBKZ
//
// --primary-color: 17, 64, 92;
/* primary-color: #ff502f */
// --secondary-color: 91, 209, 215;
/* secondary-color: #5bd1d7 */
// --text-color: 0, 77, 97;
/* text-color: #004d61 */
// --gray-light: 224, 224, 224;
/* gray-light: #e0e0e0;*/

.chip {
  padding: 0 12px;
  background-color: rgb(var($base-background-color));
  border-radius: 100px;
  display: inline-flex;
  margin: 4px;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
  height: 32px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  .icon {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
    width: 20px;
    text-align: center;
  }
  .icon--leadind {
    margin: 2px 4px 0 -4px;
  }
  .icon--trailing {
    margin: 2px -4px 0 4px;
  }
}
.chips__choice {
  .chip.chip--active {
    color: rgb(var($link-text-color));
    background-color: rgba(var($link-text-color), 0.2);
  }
}
.chips__filter {
  .chip {
    .chip--check {
      display: none;
    }
  }
  .chip.chip--active {
    .chip--check {
      display: block;
    }
  }
}
